<%- include("header"); -%>

<div class="column1">
    <p>
        Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. Most
        people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover
        without requiring special treatment.
        Vaccines are a critical new tool in the battle against COVID-19 and it is
        hugely encouraging to see so many vaccines proving successful and going into development.
        Working as quickly as they can,
        scientists from across the world are collaborating and innovating to bring us tests,
        treatments and vaccines that will collectively save lives and end this pandemic.
    </p>
</div>

<div class="column2">
    <p> Vaccine Registration <br>
        During registration you need_! </p>
    <ul class="lists2">
        <li>ID</li>
        <li>Phone</li>
        <li>Internet</li>
    </ul>
</div>

<div class="column3">
    <p> The process of receiving the Covid-19 corona vaccine </p>
    <ul class="lists3">
        <li>Registration</li>
        <li>Confirmation</li>
        <li>Vaccination</li>
    </ul>
</div>

<div>
    <div id="btn">
        <button type="button" class="btn btn-success btn-lg" onclick="document.location='/register'">Register</button>
    </div>
</div>

<%- include("footer"); -%>