<%- include("partials/header"); -%>

<div class="abt">
    <p>
        <br>
        <h3>This is a web application built by TANOY BOSH where people can register themselves for getting covid-19
            vaccine.</h3>
        <br>
    </p>
</div>


<!-- CSS -->
<style>
    .abt {
        font-size: x-large;
        text-align: center;
    }

    .footer {
        position: relative;
    }
</style>

<%- include("partials/footer"); -%>