<%- include("partials/header"); -%>
<div class="rg">
    <br>
    <button type="submit" class="btn btn-success btn-lg" onclick="document.location='/newlyregister'">Newly
        register</button>
    <br> <br>

    <button type="submit" class="btn btn-success btn-lg" onclick="document.location='/alreadyregistered'">Already
        registered?</button>
</div>


<!-- CSS -->
<style>
    .rg {
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .footer {
        position: relative;
    }
</style>

<%- include("partials/footer"); -%>